@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #2e4938;
	--color-orange: #de673f;
	--color-dark-green: #2e4938;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

* {
	scroll-behavior: smooth;
}
